<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Messenger</title>
    <link rel="stylesheet" href="./styles/styles.pcss">
</head>
<body>
    <main class="main__wrapper">
        <div class="main__contacts">
            <div class="main__profile">
                {{> components/linkButtonWithArrow/linkButtonWithArrow text='Профиль' link='partials/pages/PersonalInfo/personalInfo.hbs' }}
            </div>
        </div>
        <div class="main__chatFeed">
            <div class="main__chatHeader">
                <div class="main__headerLogo"></div>
                <div>Имя</div>
                <img alt="" src="./assets/svg/rubbish.svg"/>
            </div>
            <div class="main__messages"></div>
            <form>
                <div class="main__sendBlock">
                    <div class="main__attached"></div>
                    <input name="message" class="main__messageInput"/>
                    <button  type="submit" class="main__sendButton">></button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>

