<div class="rowInput">
    <div class="rowInput__title">{{title}}</div>
    <div class="rowInput__input">
        {{> components/simpleInput/simpleInput type=type name=name value=value }}
    </div>
</div>
