---
data:
    emailLabel: E-mail
    emailName: email
    emailType: email
    loginLabel: Логин
    loginName: login
    loginType: text
    firstNameLabel: Имя
    firstNameName: first_name
    firstNameType: text
    secondNameLabel: Фамилия
    secondNameName: second_name
    secondNameType: text
    phoneLabel: Телефон
    phoneName: phone
    phoneType: tel
    passwordLabel: Пароль
    passwordName: password
    passwordType: password
    submitButtonText: Зарегистрироваться
    submitButtonType: button
    submitButtonLink: /
    loginButtonText: Войти
    loginButtonLink: "../Authorization/authorization.hbs"
---

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../../styles/styles.pcss">
</head>
<body>
    <main class="registration__wrapper">
        <form>
            <div class="registration__card">
                <div class="registration__title">Регистрация</div>
                <div class="registration__inputs">
                    {{> components/simpleInput/simpleInput label=data.emailLabel type=data.emailType name=data.emailName }}
                    {{> components/simpleInput/simpleInput label=data.loginLabel type=data.loginType name=data.loginName }}
                    {{> components/simpleInput/simpleInput label=data.firstNameLabel type=data.firstNameType name=data.firstNameName }}
                    {{> components/simpleInput/simpleInput label=data.secondNameLabel type=data.secondNameType name=data.secondNameName }}
                    {{> components/simpleInput/simpleInput label=data.phoneLabel type=data.phoneType name=data.phoneName }}
                    {{> components/simpleInput/simpleInput label=data.passwordLabel type=data.passwordType name=data.passwordName }}
                </div>
                <div class="registration__buttons">
                    {{> components/generalButton/generalButton text=data.submitButtonText type=data.submitButtonType link=data.submitButtonLink }}
                    {{> components/linkButton/linkButton text=data.loginButtonText link=data.loginButtonLink }}
                </div>
            </div>
        </form>
    </main>
</body>
</html>





