<form>
    <div class="authorization__card">
        <div class="authorization__inputs">
            {{{login}}}
            {{{password}}}
        </div>
        <div class="authorization__buttons">
            {{{button}}}
            {{{registration}}}
        </div>
    </div>
</form>






