.linkButton {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;

    img {
        width: 8px;
    }

    text-decoration:none;
    color: var(--white);
    font-size: 14px;
    &:hover {
        text-underline-offset: 3px;
        text-decoration: underline;
    }
    :active {
        color: var(--blue)
    }

}

@media screen and (max-width: 768px) {
    .linkButton{
        font-size: 12px;
    }
}
