@import url("variables.pcss");
@import url("../pages/HomePage/homePage.pcss");
@import url("../pages/Authorization/authorizationStyles.pcss");
@import url("../pages/Registration/registrationStyles.pcss");
@import url("../pages/PersonalInfo/personalInfoStyles.pcss");
@import url("../pages/PersonalInfoEdit/personalInfoEditStyles.pcss");
@import url("../components/LinkButton/linkButtonStyles.pcss");
@import url("../components/ErrorPageContent/errorPageContentStyles.pcss");
@import url("../components/linkButton/linkButtonStyles.pcss");
@import url("../components/SimpleInput/simpleInputStyles.pcss");
@import url("../components/Button/buttonStyles.pcss");
@import url("../components/RowInfo/rowInfoStyles.pcss");
@import url("../components/Avatar/avatarStyles.pcss");
@import url("../components/RowInput/rowInputStyles.pcss");
@import url("../components/FileInput/fileInputStyles.pcss");
@import url("../components/Messages/messagesStyles.pcss");
@import url("../components/MessageInput/messageInputStyles.pcss");
@import url("../components/SendMessageIButton/sendMessageIButtonStyles.pcss");
@import url("../components/Contacts/contactsStyles.pcss");

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: red;
    background: linear-gradient(243.03deg, var(--blue) 0%, var(--red) 131.67%);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 16px;
}

#root{
    height: 100%;
}


h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
