@import "variables.pcss";

@import "../pages/HomePage/homePage.pcss";
@import "../pages/Authorization/authorizationStyles.pcss";
@import "../pages/Registration/registrationStyles.pcss";
@import "../pages/PersonalInfo/personalInfoStyles.pcss";
@import "../pages/PersonalInfoEdit/personalInfoEditStyles.pcss";

@import "../components/LinkButton/linkButtonStyles.pcss";
@import "../components/ErrorPageContent/errorPageContentStyles.pcss";
@import "../components/linkButton/linkButtonStyles.pcss";
@import "../components/SimpleInput/simpleInputStyles.pcss";
@import "../components/Button/buttonStyles.pcss";
@import "../components/RowInfo/rowInfoStyles.pcss";
@import "../components/Avatar/avatarStyles.pcss";
@import "../components/RowInput/rowInputStyles.pcss";
@import "../components/FileInput/fileInputStyles.pcss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: red;
    background: linear-gradient(243.03deg, var(--blue) 0%, var(--red) 131.67%);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;

    font-size: 16px;
}
#root{
    height: 100%;
}


h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
