.sendMessageButton {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: var(--blue);
    color: var(--white);
    border: none;

    &:active {
        background-color: var(--white);
    }

    display: grid;
    place-items: center;

    img {
        width: 16px;
    }
}
