.fileInput {
    display: flex;
    &__input{
        display: none;
    }
    &__label {
        border: 1px solid var(--white);
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 8px;
    }
    &__error {
        color: var(--redDark);
        margin-top: 4px;
        font-size: 12px;
    }
}
