<div class="simpleInput__wrapper">
    <input name="{{name}}" type="{{type}}" value="{{value}}" class="simpleInput__item" placeholder=" "/>
    <label class="simpleInput__label" >{{label}}</label>
</div>

