.chatHeader {

        background-color: var(--card-background);
        border-radius: 8px;
        column-gap: 16px;
        padding: 8px 40px;
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        align-items: center;

        img {
            width: 16px;
        }


    &__logo{
        background-color: var(--white);
        border-radius: 100px;
        width: 36px;
        height: 36px;
    }
}
