.errorPage {
    &__wrapper {
        display: grid;
        place-content: center;
        justify-items: center;
        color: var(--white);
        height: 100%;

        h3 {
            margin: 0;
        }
    }

    &__link {
        margin-top: 60px;
    }
}
