
    <div class="rowInput__title">{{placeholder}}</div>
    <div class="rowInput__input">
        {{{input}}}
        {{#if error}}
            <div class="rowInput__error">{{error}}</div>
        {{/if}}
    </div>

