
        <div class="sendMessage__messageContainer">
            <input type="text"  required="{{required}}" value="{{value}}" placeholder="{{placeholder}}" name="message" class="sendMessage__messageInput"/>
            {{#if error}}
                <div class="sendMessage__error">{{error}}</div>
            {{/if}}
        </div>



