.sendMessage {
    &__messageInput {
        padding: 0 16px;
        border-radius: 50px;
        border: none;
        outline: none;
        height: 30px;
    }
    &__messageContainer {
        display: grid;
    }
    &__error {
        color: var(--redDark);
        margin-top: 4px;
        font-size: 12px;
    }
}
