<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../../../styles/styles.pcss">
</head>
<body>
    <main class="errorPage__wrapper">
        <h1> {{title}} </h1>
        <h3> {{description}} </h3>
        <div class="errorPage__link">
            {{> components/linkButton/linkButton link=button_link text=button_text }}
        </div>
    </main>
</body>
</html>
