---
data:
    emailLabel: Почта
    emailValue: pochta@yandex.ru
    emailName: email
    loginLabel: Логин
    loginValue: ivanivanov
    loginName: login
    firstNameLabel: Имя
    firstNameValue: Иван
    firstNameName: first_name
    secondNameLabel: Фамилия
    secondNameValue: Иванов
    secondNameName: second_name
    chatNameLabel: Имя в чате
    chatNameValue: Иван
    chatNameName: display_name
    phoneLabel: Имя в чате
    phoneValue: +7 (909) 967 30 30
    phoneName: phone
    passLabel: Пароль
    passType: password
    oldPassName: oldPassword
    newPassName: newPassword
    saveButtonText: Сохранить
    saveButtonType: button
    saveButtonLink: /
    fileInputName: avatar
    fileInputText: Обновить фото
---

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../../../styles/styles.pcss">
</head>
<body>
    <main class="personalInfoEdit__wrapper">
            <div class="personalInfoEdit__card">
                <form>
                    <div class="personalInfoEdit__avatarBlock">
                        {{> components/avatar/avatar name=data.firstNameValue }}
                        {{> components/fileInput/fileInput name=data.fileInputName text=data.fileInputText }}
                    </div>
                    <div class="personalInfoEdit__info">
                        {{> components/rowInput/rowInput title=data.emailLabel value=data.emailValue name=data.emailName }}
                        {{> components/rowInput/rowInput title=data.loginLabel value=data.loginValue name=data.loginName }}
                        {{> components/rowInput/rowInput title=data.firstNameLabel value=data.firstNameValue name=data.firstNameName }}
                        {{> components/rowInput/rowInput title=data.secondNameLabel value=data.secondNameValue name=data.secondNameName }}
                        {{> components/rowInput/rowInput title=data.chatNameLabel value=data.chatNameValue name=data.chatNameName }}
                        {{> components/rowInput/rowInput title=data.phoneLabel value=data.phoneValue name=data.phoneName }}
                        {{> components/rowInput/rowInput title=data.passLabel name=data.oldPassName type=data.passType }}
                        {{> components/rowInput/rowInput name=data.newPassName type=data.passType }}
                    </div>
                    <div class="personalInfoEdit__actions">
                       {{> components/generalButton/generalButton text=data.saveButtonText link=data.saveButtonLink type=data.saveButtonType }}
                    </div>
                </form>
            </div>
    </main>
</body>
</html>





