---
data:
    emailLabel: Почта
    emailValue: pochta@yandex.ru
    loginLabel: Логин
    loginValue: ivanivanov
    firstNameLabel: Имя
    firstNameValue: Иван
    secondNameLabel: Фамилия
    secondNameValue: Иванов
    chatNameLabel: Имя в чате
    chatNameValue: Иван
    phoneLabel: Имя в чате
    phoneValue: +7 (909) 967 30 30
    editButtonText: Изменить данные
    editButtonLink: ../PersonalInfoEdit/personalInfoEdit.hbs
    exitButtonText: Выйти
    exitButtonLink: ../Authorization/authorization.hbs
---

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="../../../styles/styles.pcss">
</head>
<body>
    <main class="personalInfo__wrapper">
            <div class="personalInfo__card">
                    <div class="personalInfo__avatarBlock">
                        {{> components/avatar/avatar name=data.firstNameValue }}
                    </div>
                    <div class="personalInfo__info">
                        {{> components/rowInfo/rowInfo label=data.emailLabel value=data.emailValue }}
                        {{> components/rowInfo/rowInfo label=data.loginLabel value=data.loginValue }}
                        {{> components/rowInfo/rowInfo label=data.firstNameLabel value=data.firstNameValue }}
                        {{> components/rowInfo/rowInfo label=data.secondNameLabel value=data.secondNameValue }}
                        {{> components/rowInfo/rowInfo label=data.chatNameLabel value=data.chatNameValue }}
                        {{> components/rowInfo/rowInfo label=data.phoneLabel value=data.phoneValue }}
                    </div>
                    <div class="personalInfo__actions">
                        <span class="personalInfo__actions--blue">{{> components/linkButton/linkButton text=data.editButtonText link=data.editButtonLink }}</span>
                        <span class="personalInfo__actions--red">{{> components/linkButton/linkButton text=data.exitButtonText link=data.exitButtonLink }}</span>
                    </div>
            </div>
    </main>
</body>
</html>





